#homediv
	display: flex
	flex-direction: column
	align-items: center

	h1
		margin: 1em 0
		font-size: 3em

	form
		border: .1em solid black
		display: flex
		flex-direction: column
		padding: 1em

		label>input
			margin-left: 1em

		button
			margin-top: 1em
			border: .05em solid black
